@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 238, 235, 240;
  --background-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 37, 37, 37;
    --background-rgb: 238, 235, 240;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

h1 {
  @apply text-7xl;
}
h2 {
  @apply text-5xl;
}
h3 {
  @apply text-2xl;
}

button {
  @apply px-4 py-2 border rounded-3xl px-5 py-1 border-slate-950;
}
button:hover {
  @apply transition-colors bg-slate-950 text-white;
}

a:hover {
  @apply transition-colors text-indigo-500;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
